<div class="row">

    <h1>Eat-da-Burger</h1>

    <div class="col s6">
        <ul>
            {{#each burgers}}
                {{#unless this.devoured}}
                    <li>
                        <p>
                            {{this.id}}.{{this.burger_name}}
                            <form action="burgers/{{this.id}}?_method=PUT" method="POST">
                                <button data-burgerid="{{this.id}}" type="submit" class="devouredBurger">Devour</button>
                            </form>
                        </p>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col s6">
        {{#each burgers}}
            {{#if this.devoured}}
                <div class='burgerEaten'>
                    <div>
                        {{this.burger_name}}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>

    {{!-- Submit button and text area --}}
    <form action="/" class="create-form" method="POST" >
        <textarea type="text" id="inputBurgerId" name="task"></textarea>
        <button type="submit">Submit</button>
        <p>Enter a burger  you want  to eat Click the "submit" button</p>
    </form>


    <script type="text/javascript">
    $(".create-form").on("submit", function(event) {
        event.preventDefault();

        var newBurgerName = {
            burger_name: $("#inputBurgerId").val().trim()
        }
        $.ajax("/api/burgers/", {
            type: "POST",
            data: newBurgerName
        }).then(function(){
            console.log("new burger");
            location.reload();
        });
    });


    $(".devouredBurger").on("click", function(event){  
        var id = $(this).attr("data-burgerid")
        console.log($(this).attr("data-burgerid"));

        var newId = { id: id }

        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newId
        }).then(function () {
            console.log("new burger");
            location.reload();
        });
    })
    </script>
</div>
